argcomplete
attrs
ConfigParser
contextlib2
cryptography
Cython
dl
docutils
filelock
HTMLParser
ipython
ipywidgets
jnius
keyring
matplotlib
mock
ordereddict
pexpect
Pillow
Pillow
protobuf
pyOpenSSL
pywin32
redis
scikit_learn
Sphinx
tensorflow
tensorflow_intel
thread
Twisted
urllib3_secure_extra
xmlrpclib
zope
